@model NewsFeed.Models.News
@{ 
    ViewBag.Title = "Create news";
} 

<form asp-action="create" asp-controller="home">
    <div class="form-group">
        <label asp-for="Name" class="control-label">Header</label>
        <input type="text" asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label">Description</label>
        <input type="text" asp-for="Description" class="form-control" />
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <p>Upload image</p>
            <input class="form-control" name="image" type="file" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <input class="btn btn-success" type="submit" value="Upload" />
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-default" />
    </div>
</form>