@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Project <a href="https://github.com/bastille1001/NewsFeed">GitHub link to my repository "News feed"</a>.</p>
</div>
